<ngx-slick-carousel class="main-slider slider" [config]="slideConfig">
  <div
    ngxSlickItem
    class="slider-item"
    style="
      background-image: url('assets/images/bg4.jpg');
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <!-- <span class="lead">
              Discover, collect, and sell extraordinary NFTs </span> -->
            <h1 class="mt-2 mb-5">
              <span class="text-color">Discover, collect, and sell </span> <span style="-webkit-text-stroke-width: 1px;
              -webkit-text-stroke-color: #ffffff;">NFTs</span>
            </h1>
            <a href="#" class="btn btn-main mr-5">Explore</a>
            <a href="#" class="btn btn-main">Create</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-slick-carousel>
<!-- <section class="category section pt-3 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item mb-4 mb-lg-0">
          <img src="assets/images/cat-1.jpg" alt="" class="img-fluid">
          <div class="item-info">
            <p class="mb-0">Stylish Leather watch</p>
            <h4 class="mb-4">up to <strong>50% </strong>off</h4>
            <a href="#" class="read-more">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item mb-4 mb-lg-0">
          <img src="assets/images/cat-2.jpg" alt="" class="img-fluid">
          <div class="item-info">
            <p class="mb-0">Ladies hand bag</p>
            <h4 class="mb-4">up to <strong>40% </strong>off</h4>
            <a href="#" class="read-more">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item">
          <img src="assets/images/cat-3.jpg" alt="" class="img-fluid">
          <div class="item-info">
            <p class="mb-0">Trendy shoe</p>
            <h4 class="mb-4">up to <strong>50% </strong>off</h4>
            <a href="#" class="read-more">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="section products-main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="title text-center">
          <h2>Trending items</h2>
          <p>The best Online sales to shop these weekend</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/nft-monkey.jpg"
                alt="product-img"
            /></a>
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/nft-monkey2.jpg"
                alt="product-img"
            /></a>
          </div>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>
          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a routerLink="/product-single">NFT Item</a>
            </h2>
            <div class="price d-flex justify-content-center">
              <div cursor="pointer" class="mr-1">
                <a
                  class="sc-1pie21o-0 elyzfO"
                  href="https://solscan.io/address/11111111111111111111111111111111"
                  rel="nofollow noopener"
                  target="_blank"
                  ><div
                    size="24"
                    class="sc-1xf18x6-0 sc-1twd32i-0 sc-1wwz3hp-0 sc-b4hiel-0 sc-cjf6mn-0 sc-sbw25j-0 fhVUfN kKpYwv kuGBEl iVtKaT euUQqP jwEsBT"
                  >
                    <img
                      alt="SOL"
                      class="sc-1xf18x6-0 sc-sbw25j-1 fhVUfN kGXfai"
                      src="https://static.opensea.io/solana-just-s-symbol-colored.svg"
                      size="24"
                    /></div
                ></a>
              </div>
              <div>
                9999
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/nft-monkey.jpg"
                alt="product-img"
            /></a>
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/nft-monkey2.jpg"
                alt="product-img"
            /></a>
          </div>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>
          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a routerLink="/product-single">NFT Item</a>
            </h2>
            <div class="price d-flex justify-content-center">
              <div cursor="pointer" class="mr-1">
                <a
                  class="sc-1pie21o-0 elyzfO"
                  href="https://solscan.io/address/11111111111111111111111111111111"
                  rel="nofollow noopener"
                  target="_blank"
                  ><div
                    size="24"
                    class="sc-1xf18x6-0 sc-1twd32i-0 sc-1wwz3hp-0 sc-b4hiel-0 sc-cjf6mn-0 sc-sbw25j-0 fhVUfN kKpYwv kuGBEl iVtKaT euUQqP jwEsBT"
                  >
                    <img
                      alt="SOL"
                      class="sc-1xf18x6-0 sc-sbw25j-1 fhVUfN kGXfai"
                      src="https://static.opensea.io/solana-just-s-symbol-colored.svg"
                      size="24"
                    /></div
                ></a>
              </div>
              <div>
                9999
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/nft-monkey.jpg"
                alt="product-img"
            /></a>
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/nft-monkey2.jpg"
                alt="product-img"
            /></a>
          </div>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>
          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a routerLink="/product-single">NFT Item</a>
            </h2>
            <div class="price d-flex justify-content-center">
              <div cursor="pointer" class="mr-1">
                <a
                  class="sc-1pie21o-0 elyzfO"
                  href="https://solscan.io/address/11111111111111111111111111111111"
                  rel="nofollow noopener"
                  target="_blank"
                  ><div
                    size="24"
                    class="sc-1xf18x6-0 sc-1twd32i-0 sc-1wwz3hp-0 sc-b4hiel-0 sc-cjf6mn-0 sc-sbw25j-0 fhVUfN kKpYwv kuGBEl iVtKaT euUQqP jwEsBT"
                  >
                    <img
                      alt="SOL"
                      class="sc-1xf18x6-0 sc-sbw25j-1 fhVUfN kGXfai"
                      src="https://static.opensea.io/solana-just-s-symbol-colored.svg"
                      size="24"
                    /></div
                ></a>
              </div>
              <div>
                9999
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/nft-monkey.jpg"
                alt="product-img"
            /></a>
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/nft-monkey2.jpg"
                alt="product-img"
            /></a>
          </div>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>
          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a routerLink="/product-single">NFT Item</a>
            </h2>
            <div class="price d-flex justify-content-center">
              <div cursor="pointer" class="mr-1">
                <a
                  class="sc-1pie21o-0 elyzfO"
                  href="https://solscan.io/address/11111111111111111111111111111111"
                  rel="nofollow noopener"
                  target="_blank"
                  ><div
                    size="24"
                    class="sc-1xf18x6-0 sc-1twd32i-0 sc-1wwz3hp-0 sc-b4hiel-0 sc-cjf6mn-0 sc-sbw25j-0 fhVUfN kKpYwv kuGBEl iVtKaT euUQqP jwEsBT"
                  >
                    <img
                      alt="SOL"
                      class="sc-1xf18x6-0 sc-sbw25j-1 fhVUfN kGXfai"
                      src="https://static.opensea.io/solana-just-s-symbol-colored.svg"
                      size="24"
                    /></div
                ></a>
              </div>
              <div>
                9999
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/nft-monkey.jpg"
                alt="product-img"
            /></a>
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/nft-monkey2.jpg"
                alt="product-img"
            /></a>
          </div>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>
          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a routerLink="/product-single">NFT Item</a>
            </h2>
            <div class="price d-flex justify-content-center">
              <div cursor="pointer" class="mr-1">
                <a
                  class="sc-1pie21o-0 elyzfO"
                  href="https://solscan.io/address/11111111111111111111111111111111"
                  rel="nofollow noopener"
                  target="_blank"
                  ><div
                    size="24"
                    class="sc-1xf18x6-0 sc-1twd32i-0 sc-1wwz3hp-0 sc-b4hiel-0 sc-cjf6mn-0 sc-sbw25j-0 fhVUfN kKpYwv kuGBEl iVtKaT euUQqP jwEsBT"
                  >
                    <img
                      alt="SOL"
                      class="sc-1xf18x6-0 sc-sbw25j-1 fhVUfN kGXfai"
                      src="https://static.opensea.io/solana-just-s-symbol-colored.svg"
                      size="24"
                    /></div
                ></a>
              </div>
              <div>
                9999
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/nft-monkey.jpg"
                alt="product-img"
            /></a>
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/nft-monkey2.jpg"
                alt="product-img"
            /></a>
          </div>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>
          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a routerLink="/product-single">NFT Item</a>
            </h2>
            <div class="price d-flex justify-content-center">
              <div cursor="pointer" class="mr-1">
                <a
                  class="sc-1pie21o-0 elyzfO"
                  href="https://solscan.io/address/11111111111111111111111111111111"
                  rel="nofollow noopener"
                  target="_blank"
                  ><div
                    size="24"
                    class="sc-1xf18x6-0 sc-1twd32i-0 sc-1wwz3hp-0 sc-b4hiel-0 sc-cjf6mn-0 sc-sbw25j-0 fhVUfN kKpYwv kuGBEl iVtKaT euUQqP jwEsBT"
                  >
                    <img
                      alt="SOL"
                      class="sc-1xf18x6-0 sc-sbw25j-1 fhVUfN kGXfai"
                      src="https://static.opensea.io/solana-just-s-symbol-colored.svg"
                      size="24"
                    /></div
                ></a>
              </div>
              <div>
                9999
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/nft-monkey.jpg"
                alt="product-img"
            /></a>
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/nft-monkey2.jpg"
                alt="product-img"
            /></a>
          </div>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>
          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a routerLink="/product-single">NFT Item</a>
            </h2>
            <div class="price d-flex justify-content-center">
              <div cursor="pointer" class="mr-1">
                <a
                  class="sc-1pie21o-0 elyzfO"
                  href="https://solscan.io/address/11111111111111111111111111111111"
                  rel="nofollow noopener"
                  target="_blank"
                  ><div
                    size="24"
                    class="sc-1xf18x6-0 sc-1twd32i-0 sc-1wwz3hp-0 sc-b4hiel-0 sc-cjf6mn-0 sc-sbw25j-0 fhVUfN kKpYwv kuGBEl iVtKaT euUQqP jwEsBT"
                  >
                    <img
                      alt="SOL"
                      class="sc-1xf18x6-0 sc-sbw25j-1 fhVUfN kGXfai"
                      src="https://static.opensea.io/solana-just-s-symbol-colored.svg"
                      size="24"
                    /></div
                ></a>
              </div>
              <div>
                9999
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="assets/images/nft-monkey.jpg"
                alt="product-img"
            /></a>
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-second"
                src="assets/images/nft-monkey2.jpg"
                alt="product-img"
            /></a>
          </div>
          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>
          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a routerLink="/product-single">NFT Item</a>
            </h2>
            <div class="price d-flex justify-content-center">
              <div cursor="pointer" class="mr-1">
                <a
                  class="sc-1pie21o-0 elyzfO"
                  href="https://solscan.io/address/11111111111111111111111111111111"
                  rel="nofollow noopener"
                  target="_blank"
                  ><div
                    size="24"
                    class="sc-1xf18x6-0 sc-1twd32i-0 sc-1wwz3hp-0 sc-b4hiel-0 sc-cjf6mn-0 sc-sbw25j-0 fhVUfN kKpYwv kuGBEl iVtKaT euUQqP jwEsBT"
                  >
                    <img
                      alt="SOL"
                      class="sc-1xf18x6-0 sc-sbw25j-1 fhVUfN kGXfai"
                      src="https://static.opensea.io/solana-just-s-symbol-colored.svg"
                      size="24"
                    /></div
                ></a>
              </div>
              <div>
                9999
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /portfolio -->
<!-- <section class="ads section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 offset-lg-6">
        <div class="ads-content">
          <span class="h5 deal">Deal of the day 50% Off</span>
          <h2 class="mt-3 text-white">Trendy Suit</h2>
          <p class="text-md mt-3 text-white">Hurry up! Limited time offer.Grab ot now!</p> -->
<!-- syo-timer -->
<!-- <div id="simple-timer" class="syotimer mb-5"></div>
          <a href="#" class="btn btn-main"><i class="ti-bag mr-2"></i>Shop Now </a>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="section products-list">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-12">
        <img
          src="assets/images/nft-monkey.jpg"
          alt="Product big thumb"
          class="img-fluid w-100"
        />
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="widget-featured-entries mt-5 mt-lg-0">
          <h4 class="mb-4 pb-3">Best selllers</h4>
          <div class="media mb-3">
            <a class="featured-entry-thumb" routerLink="/product-single">
              <img
                src="assets/images/nft-monkey2.jpg"
                alt="Product thumb"
                width="64"
                class="img-fluid mr-3"
              />
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0">
                <a href="#">NFT Item</a>
              </h6>
              <p class="featured-entry-meta">$42.99</p>
            </div>
          </div>
          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img
                src="assets/images/nft-monkey2.jpg"
                alt="Product thumb"
                width="64"
                class="img-fluid mr-3"
              />
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0">
                <a href="#">NFT Item</a>
              </h6>
              <p class="featured-entry-meta">$27.99</p>
            </div>
          </div>
          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img
                src="assets/images/nft-monkey2.jpg"
                alt="Product thumb"
                width="64"
                class="img-fluid mr-3"
              />
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0">
                <a href="#">NFT Item</a>
              </h6>
              <p>$38.00</p>
            </div>
          </div>
          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img
                src="assets/images/nft-monkey2.jpg"
                alt="Product thumb"
                width="64"
                class="img-fluid mr-3"
              />
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0">
                <a href="#">NFT Item</a>
              </h6>
              <p class="featured-entry-meta">$35.00</p>
            </div>
          </div>
          <div class="media">
            <a class="featured-entry-thumb" href="#">
              <img
                src="assets/images/nft-monkey2.jpg"
                alt="Product thumb"
                width="64"
                class="img-fluid mr-3"
              />
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0">
                <a href="#">NFT Item</a>
              </h6>
              <p class="featured-entry-meta">$10.60</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6">
        <div class="widget-featured-entries mt-5 mt-lg-0">
          <h4 class="mb-4 pb-3">News</h4>
          <div class="media mb-3">
            <a class="featured-entry-thumb" routerLink="/product-single">
              <img
                src="assets/images/nft-monkey2.jpg"
                alt="Product thumb"
                width="64"
                class="img-fluid mr-3"
              />
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0">
                <a href="#">NFT Item</a>
              </h6>
              <p class="featured-entry-meta">$42.99</p>
            </div>
          </div>
          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img
                src="assets/images/nft-monkey2.jpg"
                alt="Product thumb"
                width="64"
                class="img-fluid mr-3"
              />
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0">
                <a href="#">NFT Item</a>
              </h6>
              <p class="featured-entry-meta">$27.99</p>
            </div>
          </div>
          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img
                src="assets/images/nft-monkey2.jpg"
                alt="Product thumb"
                width="64"
                class="img-fluid mr-3"
              />
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0">
                <a href="#">NFT Item</a>
              </h6>
              <p>$38.00</p>
            </div>
          </div>
          <div class="media mb-3">
            <a class="featured-entry-thumb" href="#">
              <img
                src="assets/images/nft-monkey2.jpg"
                alt="Product thumb"
                width="64"
                class="img-fluid mr-3"
              />
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0">
                <a href="#">NFT Item</a>
              </h6>
              <p class="featured-entry-meta">$35.00</p>
            </div>
          </div>
          <div class="media">
            <a class="featured-entry-thumb" href="#">
              <img
                src="assets/images/nft-monkey2.jpg"
                alt="Product thumb"
                width="64"
                class="img-fluid mr-3"
              />
            </a>
            <div class="media-body">
              <h6 class="featured-entry-title mb-0">
                <a href="#">NFT Item</a>
              </h6>
              <p class="featured-entry-meta">$10.60</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features border-top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="title text-center mt-5">
          <h2>Create and sell your NFTs</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-ion-android-bicycle"></i>
          <div class="content">
            <h5>Set up your wallet</h5>
            <p>
              Once you’ve set up your wallet of choice, connect it to OpenSea by
              clicking the wallet icon in the top right corner. Learn about the
              wallets we support.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-wallet"></i>
          <div class="content">
            <h5>Create your collection</h5>
            <p>
              Click My Collections and set up your collection. Add social links,
              a description, profile & banner images, and set a secondary sales
              fee.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-key"></i>
          <div class="content">
            <h5>Add your NFTs</h5>
            <p>
              Upload your work (image, video, audio, or 3D art), add a title and
              description, and customize your NFTs with properties, stats, and
              unlockable content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-clock"></i>
          <div class="content">
            <h5>List them for sale</h5>
            <p>
              Choose between auctions, fixed-price listings, and declining-price
              listings. You choose how you want to sell your NFTs, and we help
              you sell them!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
